@tailwind base;
@tailwind components;
@tailwind utilities;

@import "semantic-ui-css/semantic.min.css";
/* Import other module CSS */
@import './section/my-page.css';
@import './section/my-record.css';

@layer base {
    @font-face {
        font-family: 'Inter';
        font-weight: 400;
        src: url("../assets/fonts/Inter.ttf") format("truetype")
    }

    @font-face {
        font-family: 'NotoSansJP';
        font-weight: 400;
        src: url("../assets/fonts/NotoSansJP.ttf") format("truetype")
    }

    @font-face {
        font-family: 'Hiragino';
        font-weight: 400;
        src: url("../assets/fonts/Hiragino.otf") format("opentype")
    }
}

@layer components {
    .bg-gradient-primary {
        @apply bg-gradient-to-b from-primary-300 to-primary-400
    }
}

.link,
.link:hover,
.link:active,
.link:focus,
.link:visited {
    /*Your code here, like:*/
    color: #FFF;
}


/* Hide scrollbar for Chrome, Safari and Opera */
body::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
body {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}
