@tailwind base;
@tailwind components;
@tailwind utilities;

@import "semantic-ui-css/semantic.min.css";

@layer base {
    @font-face {
        font-family: 'Inter';
        font-weight: 400;
        src: url("../assets/fonts/Inter.ttf") format("truetype")
    }
    @font-face {
        font-family: 'NotoSansJP';
        font-weight: 400;
        src: url("../assets/fonts/NotoSansJP.ttf") format("truetype")
    }
    @font-face {
        font-family: 'Hiragino';
        font-weight: 400;
        src: url("../assets/fonts/Hiragino.otf") format("opentype")
    }
}

@layer components {
    .bg-gradient-primary {
        @apply bg-gradient-to-b from-primary-300 to-primary-400
    }
}