.achievement-rate {
    background: linear-gradient(to bottom, rgba(255, 204, 33, 0.2), rgba(255, 150, 60, 0.2)), url('/images/my-page-p1.png')
}

.achievement-rate .graph-text-color {
    text-shadow: 0px 0px 6px #FCA500;
}

.meal-item .meal-image {
    transition: all 1s ease-in-out;
}
.meal-item:hover .meal-image {
    transform: scale(1.5);
}